<h1>Environments for this project.</h1>

<% @environments.each do |environment| %>
  <p>* <%= environment.name %></p>
<% end%>


<h3>Add a new environment to this project</h3>

<%= link_to 'Add new environment', new_project_environment_path, class: 'btn btn-primary' %>
